@font-face {
    font-family: awesomeFont;
    src: url(SfDistantGalaxy-0l3d.ttf);
}

body {
    font-family: awesomeFont;
}

.canvas {
    box-sizing: content-box; 
    background: transparent;
    position: absolute;
    top: calc(50% - 500px);
    left: calc(50% - 500px);
    visibility: hidden;
}

.colorBox {
    padding: 20px;
    width: 150px;
    cursor: pointer;
    box-sizing: content-box; 
    border: 1px solid black;
}

.colorBox:focus {
    border: 1px solid white;
}

#konecHry {
    position: absolute;
    width: 809px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 405px);
    text-align: center;
    font-size: 100px;
    visibility: hidden;
}